{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Work Check{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="{% url 'manage_users' %}">Gestión de Usuarios</a></li>
            <li><a href="{% url 'list_accounts' %}">Gestión de Cuentas</a></li>
            <li><a href="{% url 'list_timesheets' %}">Timesheet Scores</a></li>
            <li><a href="{% url 'list_evaluation_cycles' %}">Ciclos de Evaluación</a></li>
            <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>
