{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Work Check{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Barra de navegación principal -->
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="{% url 'manage_users' %}">Gestión de Usuarios</a></li>
            <li><a href="{% url 'list_accounts' %}">Gestión de Cuentas</a></li>
            <li><a href="{% url 'list_timesheets' %}">Timesheet Scores</a></li>
            <li><a href="{% url 'list_evaluation_cycles' %}">Ciclos de Evaluación</a></li>
            <li><a href="{% url 'list_temp_assignments' %}">Asignación Evaluaciones</a></li>
            <li><a href="{% url 'list_permanent_assignments' %}">Histórico Evaluaciones</a></li>
            <li><a href="{% url 'leaders_evaluations' %}">Evaluaciones de Líderes</a></li>
            <li><a href="{% url 'employees_evaluations' %}">Evaluaciones de Empleados</a></li>
            <li><a href="{% url 'evaluation_form' %}">Formulario de Evaluación</a></li>
            <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
        </ul>
    </nav>
    <!-- Contenido específico de cada vista -->
    {% block content %}
    {% endblock %}
</body>
</html>
