{% extends 'System/base.html' %}
{% block title %}Actualizar Usuario{% endblock %}
{% block content %}
    <h2>Actualizar Usuario</h2>
    <form method="post">
        {% csrf_token %}
        <label>Nombre:</label>
        <input type="text" name="first_name" value="{{ usuario.first_name }}" required><br>
        <label>Segundo Nombre:</label>
        <input type="text" name="middle_name" value="{{ usuario.middle_name }}"><br>
        <label>Primer Apellido:</label>
        <input type="text" name="last_name" value="{{ usuario.last_name }}" required><br>
        <label>Segundo Apellido:</label>
        <input type="text" name="second_last_name" value="{{ usuario.second_last_name }}"><br>        <label>Tipo de Usuario:</label>
        <select name="user_type" required>
            <option value="Empleado" {% if usuario.user_type == "Empleado" %}selected{% endif %}>Empleado</option>
            <option value="Lider" {% if usuario.user_type == "Lider" %}selected{% endif %}>Lider</option>
            <option value="Gerente" {% if usuario.user_type == "Gerente" %}selected{% endif %}>Gerente</option>
            <option value="Administrador" {% if usuario.user_type == "Administrador" %}selected{% endif %}>Administrador</option>
        </select><br>
        <label>Posición:</label>
        <select name="position" required>
            {% for pos in positions %}
                <option value="{{ pos.id }}" {% if pos.id == usuario.position.id %}selected{% endif %}>{{ pos.position_name }}</option>
            {% endfor %}
        </select><br>
        <button type="submit">Actualizar Usuario</button>
    </form>
{% endblock %}
